.nav {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  font-size: 50px;
  margin: auto 0;
}

.main1 {
  display: flex;
  justify-content: center;
}

.mid-text {
  text-align: center;
  font-size: 25px;
}